@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'M PLUS 1p', sans-serif;

}
/* font-family: 'Lato', sans-serif; */


html{
  scroll-behavior: smooth;
}

li{
  list-style:none ;
}


.SiteWrapper{
  display: grid;
  flex-direction: column;
  min-height: 100vh;
}



main{
  flex:1;
  overflow-x: hidden;
}

.site-title{
  color:whitesmoke
}

.header{
  background-color:#8BDBE3;
}

@media screen and (min-width: 980px) {
      /* 980px以上用（PC用）の記述 */
      .d-flex{
        display: flex;
      }
}





.content{
  background-color: green;
}

.sub-section{
  background-color: rgb(248, 146, 146);

}


/* SNSリンクは常にフレックスにしておきたいので */
.footer > .d-flex{
  display: flex;
}

.footer{
  justify-content: space-around;
}



.sns-link-item{
  cursor: pointer;
  padding: 0 0.6rem;
}
.sns-link-item:hover{
  opacity: 0.5;
  transition: all 0.3s;
}


@media screen and (min-width: 980px) {
  /* 980px以上用（PC用）の記述 */
  .footer{
    padding-top: 2.2rem;
  }
}

.footer{
  background-color:#8BDBE3;
}
